{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "atuin"
brew "git"
brew "thefuck"
brew "asciiquarium"
brew "bat"
brew "bottom"
brew "carapace"
brew "chezmoi"
brew "cmake"
brew "dust"
brew "eza"
brew "fd"
brew "fnt"
brew "fzf"
brew "jq"
brew "yq"
brew "delta"
brew "mcfly"
brew "gsed"
brew "hexyl"
brew "kalker"
brew "lazygit"
brew "less"
brew "m-cli"
brew "mise"
brew "navi"
brew "ncurses"
brew "neofetch"
brew "neovim"
brew "openssl@3"
brew "knqyf263/pet/pet"
brew "readline"
brew "ripgrep"
brew "sqlite"
brew "the_silver_searcher"
brew "tio"
brew "tmux"
brew "tree"
brew "xz"
brew "yazi"
brew "zellij"
brew "zenith"
brew "zlib"
brew "zoxide"
brew "zsh"
brew "lima"
brew "colima"
brew "patbonecrusher/splistgo/splistgo"
brew "starship"
brew "docker"
brew "docker-compose"

cask "google-chrome"
cask "arc"
cask "caffeine"
cask "daisydisk"
cask "devtoys"
cask "docker"
cask "espanso"
cask "fromscratch"
cask "ghostty"
cask "gitup"
cask "hammerspoon"
cask "lasso"
cask "ngrok"
cask "numi"
cask "obsidian"
cask "orbstack"
cask "rapidapi"
cask "raycast"
cask "slack"
cask "tabby"
cask "the-unarchiver"
cask "vlc"
cask "xquartz"
cask "zed"
cask "zen-browser"
cask "zerotier-one"
cask "wezterm"
cask "visual-studio-code"
cask "1password"
cask "menuwhere"
EOF
{{ end -}}
